
<!-- Footer -->
<footer id="footer" class="footer pat-4">
    <a href="#about" class="top-btn">
        <i class="fa fa-chevron-up"></i>
    </a>
    <div class="container">
        <div class="cols-centered">
            <div class="col-sm-3 animated mb-20-sm" data-animate="fadeInDown">
                <i class="fa fa-phone"></i>
                <div>07292 324 435</div>
            </div>
            <div class="col-sm-3 animated mb-20-sm" data-animate="fadeInDown">
                <i class="fa fa-location-arrow"></i>
                <div> Stark Industries,
                    <br/> London PO 3452 </div>
            </div>
            <div class="col-sm-3 animated " data-animate="fadeInDown">
                <i class="fa fa-envelope-o"></i>
                <div>example@example.com</div>
            </div>
        </div>

        <div class="clearfix mb-60"></div>

        <!-- Social Icons -->
        <div class="social-icons">
            <a href='#' class="animated" data-animate="fadeInUp">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href='#' class="animated" data-animate="fadeInUp">
                <i class="fa fa-twitter"></i>
            </a>
            <a href='#' class="animated" data-animate="fadeInUp">
                <i class="fa fa-facebook"></i>
            </a>
        </div>
        <!-- End .social-icons -->

        <div class="copy">&copy; 2015 SKYLINE</div>
    </div>
</footer>
<!-- End Footer -->


<!-- JS and analytics only. -->
<script src="js/skyline.js"></script>
</body>
</html>