<!DOCTYPE html>

<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->

<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->

<!--[if IE 9 ]><html class="ie ie9" lang="en">
<![endif]-->

<!--[if (gte IE 10)|!(IE)]&gt;
<!-->
<html lang="en">

<!--<![endif]-->
<head>
    <title>Skyline</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <link href='http://fonts.googleapis.com/css?family=Oranienbaum&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/build/css/main.css">
    <script src="/build/js/main.js"></script>
</head>
<body>

<!-- Preloader -->
<div class="preloader">
    <div class="sk-spinner sk-spinner-wave">
        <div class="sk-rect1"></div>
        <div class="sk-rect2"></div>
        <div class="sk-rect3"></div>
        <div class="sk-rect4"></div>
        <div class="sk-rect5"></div>
    </div>
</div>
<!-- End .preloader -->

<header class="header">
    <div class="container">
        <!-- Logo -->
        <a href="https://polymus.ru" target="_blank" class="logo">
            <img class="logo-polymus" src="/build/img/alice/logo_polymus.png" alt="Polymus">
        </a>
        <!-- End .logo -->
        <a href="#" class="open-btn">
            <i class="fa fa-bars"></i>
        </a>
        <!-- Navigation -->
        <nav>
            <ul class="main_menu">
                <li><a href="#">Посетить выставку</a></li>
                <li>
                    <a href="#">Темы</a>
                    <ul>
                        <li><a href="#">Пространство</a></li>
                        <li><a href="#">Жизнь</a></li>
                        <li><a href="#">Математика</a></li>
                        <li><a href="#">Время</a></li>
                        <li><a href="#">Восприятие</a></li>
                    </ul>
                </li>
                <li><a href="#">Новости</a></li>
                <li><a href="#">Тест</a></li>
                <li><a href="#">Игры</a></li>
                <li><a href="#">Конкурс</a></li>
            </ul>
        </nav>
        <!-- End Navigation -->
    </div>
</header>
<!-- End header -->