/*---
general.scss
---*/

// Variables
$phone: 320px;
$fablet: 480px;
$tablet: 768px;
$desktop: 1024px;
$large: 1300px;

// Colors
$black: #333;
$deep-grey: #3f4039;
$white: #fff;
$yellow: #fdc244;
$orange: #f69322;
$green: #b9d777;
$red: #ef4e34;

// Fonts
$fz-footer: 12px;
$fz-menu: 18px;
$fz-heading: 20px;

// Image paths
$imgPath: "../img/alice/";
$iconPath: "../img/alice/icons/";

/* Mixins */
@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (min-width: $phone) and (max-width: $fablet - 1) { @content; }
  }
  @else if $media == fablet {
    @media only screen and (min-width: $fablet) and (max-width: $tablet - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $desktop) and (max-width: $large - 1) { @content; }
  }
  @else if $media == large {
    @media only screen and (min-width: $large) { @content; }
  }
}

/* Styles */
html {
  font-size: 16px;
}

body {
  font-family: PolytechSans, helvetica, sans-serif !important;
  color: $black;
  letter-spacing: normal;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 2.2em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.8em;
}

h4 {
  font-size: 1.5em;
}

h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}

.container {
  width: 1000px;
}

.alice-font {
  font-family: 'Oranienbaum', serif;
}