/*---
general.scss
---*/

/* Variables */
$page-width: 1280px;
$icon-grey: #b2b2b2;
$black: #333;
$blue: #06f;
$white: #fff;
$phone: 320px;
$fablet: 480px;
$tablet: 768px;
$desktop: 1024px;

// Font sizes
$fz-footer: 12px;
$fz-menu: 18px;
$fz-heading: 20px;

// Image paths
$imgPath: "../img";
$iconPath: "../img/icons";

/* Mixins */
@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (min-width: $phone) and (max-width: $fablet - 1) { @content; }
  }
  @else if $media == fablet {
    @media only screen and (min-width: $fablet) and (max-width: $tablet - 1) { @content; }
  }
  @else if $media == tablet {
    @media only screen and (min-width: $tablet) and (max-width: $desktop - 1) { @content; }
  }
  @else if $media == desktop {
    @media only screen and (min-width: $desktop) { @content; }
  }
}

/* Styles */
body {
  font-family: PolytechSans, helvetica, sans-serif;
  color: $black;
}