/*
* main_page.scss
*/

.promo-slide {
  background-color: $black;
  padding-top: 80px;
}

.promo-slide__img {
  overflow: hidden;

  img {
    width: 1000px;
    display: block;
    margin: 0 auto;
  }
}

.promo-slide__title {
  line-height: 0;
  margin: 0;
  text-indent: -9999px;
  color: transparent;
}

.promo-slide__info {
  width: 700px;
  margin: 0 auto;
}

.promo-slide__location {
  margin-top: 20px;
  margin-bottom: 30px;

  i {
    color: $yellow;
    font-size: .9em;
  }
  p {
    text-transform: uppercase;
    color: $yellow;
    font-size: 1.7em;
    text-align: center;
    line-height: 1;
    margin: 0;
  }
}

.promo-slide__action-button {
  text-align: center;

  a {
    width: 90%;
    height: 44px;
    line-height: 44px;
    padding: 0 40px;
    text-decoration: none;
    color: $black;
    display: inline-block;
    position: relative;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 0 0;
    -webkit-transition: all ease-in-out .3s;
    -moz-transition: all ease-in-out .3s;
    -ms-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }
}

.promo-slide__visit a {
    background-image: url($imgPath + 'hexagon_yellow_btn.png');
  &:hover {
    color: $yellow;
    background-image: url($imgPath + 'hexagon_yellow_btn_hover.png');
  }
}

.promo-slide__buy a {
  background-image: url($imgPath + 'hexagon_green_btn.png');
  &:hover {
    color: $green;
    background-image: url($imgPath + 'hexagon_green_btn_hover.png');
  }
}

.promo-slide__share {
  text-align: center;
  margin-top: 40px;

  .social-likes {
    display: inline-block;
  }

  .social-likes__widget {
    display: inline-block;
    width: 52px;
    height: 60px;
    margin: 0 26px;
    box-sizing: border-box;
    background-image: url($iconPath + 'main_share.png');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    cursor: pointer;
    position: relative;
  }

  .social-likes__counter {
    color: $white;
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    line-height: 1;
    font-size: .7em;
    bottom: -20px;
  }

  .social-likes__widget_facebook {
    background-position: 0 0;

    &:hover {
      background-position: 0 -60px;
    }
  }

  .social-likes__widget_vkontakte {
    background-position: 0 -120px;

    &:hover {
      background-position: 0 -180px;
    }
  }

  .social-likes__widget_twitter {
    background-position: 0 -360px;

    &:hover {
      background-position: 0 -420px;
    }
  }

  .social-likes__widget_odnoklassniki {
    background-position: 0 -240px;

    &:hover {
      background-position: 0 -300px;
    }
  }
}

.about {
  padding: 70px 200px;
  text-align: center;
  background-color: $red;
}

.about-title {
  text-transform: uppercase;
  margin-bottom: 30px;
}

.about-text {
  font-size: 1.4em;
  line-height: 1.3;
}